body {
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

h2, h3, h4, h5 {
  color: #333333;
}

.container {
  max-width: 1170px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* ============= header ============ */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.navigation_title {
  margin-left: -61px;
}

.navigation_title p {
  color: #0096dc;
  font-size: 14px;
  font-weight: 400;
  width: 220px;
  margin: 0;
}

.measurer button {
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #55a831;
  text-transform: uppercase;
  color: #55a831;
  font-size: 14px;
  font-weight: 700;
  padding: 15px;
  background: url(../img/computation.png) no-repeat center left;
  background-position: 15px;
  cursor: pointer;
  outline: none;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  -ms-transition: .2s;
  -o-transition: .2s;
}

.measurer button:hover {
  background: url(../img/computation-hover.png) no-repeat center left;
  background-position: 15px;
  border: 2px solid #397520;
  color: #397520;
}

.measurer span {
  display: block;
  width: 95px;
  text-align: left;
  margin-left: 37px;
}

.clock, .phone {
  display: flex;
  align-items: center;
  height: 100%;
}

.clock_content h5 {
  font-size: 14px;
  font-weight: 400;
  margin-top: 0;
  margin-left: 21px;
  margin-bottom: 0;
}

.clock_content h4 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 9px;
  margin-left: 21px;
  margin-bottom: 0;
}

.phone {
  align-items: end;
}

.phone img {
  margin-top: 6px;
}

.phone_content h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 23px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 15px;
}

.phone_content a {
  display: block;
  color: #0089cc;
  font-size: 15px;
  font-weight: 400;
  text-decoration: underline #0089cc;
  margin-top: 14px;
  margin-left: 15px;
}

.phone_content a:hover {
  opacity: 0.7;
}

/* ============ Оформление модального окна =============*/
.popup, .popup2, 
.popup3 {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 155, 255, 0.58);
}

.popup-close {
  position: absolute;
  top: -53px;
  right: 0;
  width: 25px;
  border: none;
  background-color: transparent;
  font-size: 40px;
  color: #f5f9fa;
  cursor: pointer;
  outline: none;
}

.popup-content {
  position: fixed;
  text-align: center;
  left: 50%;
  top: 10%;
  border-radius: 10px;
  background-color: #ffffff;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  padding: 40px 50px;
}

.popup-form form {
  display: flex;
  flex-direction: column;
}

.popup-header h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 20px;
  font-weight: 700;
}

.popup-header h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 12px;
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.name, .telephone {
  max-width: 270px;
  height: 60px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  text-align: center;
  outline: none;
  padding: 0 15px;
}

.name::placeholder, .telephone::placeholder {
  color: #999999;
  font-weight: 400;
  font-size: 15px;
}

.name {
  margin-top: 40px;
}

.telephone, .form-btn, .form-btn2 {
  margin-top: 20px;
}

.form-btn, .form-btn2 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  width: 214px;
  height: 80px;
  border-radius: 10px;
  border: 1px solid #ffc600;
  background-color: #e8e8e8;
  background-image: linear-gradient(to bottom, #ffed26 0%, #ffb400 100%);
  cursor: pointer;
  outline: none;
}

.form-btn:hover, .form-btn2:hover {
  box-shadow: 0 2px 20px rgba(255, 153, 0, 0.4);
}

.form-btn2 {
  padding: 32px 36px;
  width: auto;
}

.popup-footer {
  color: #666666;
  font-size: 11px;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 0;
}

/* =============== main ============= */
.main {
  background: url(../img/backgraund-img.png) no-repeat center center;
  background-size: cover;
  min-height: calc(100vh - 116px);
}

.main_content h3, .main_content h1 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 26px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 0;
}

.main_content {
  padding-top: 120px;
}

.main_content h1 {
  font-size: 55px;
  margin-top: 35px;
}

.our-advantages {
  display: flex;
  margin-top: 145px;
}

.our-advantages-header {
  display: flex;
}

.our-advantages-content {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background-color: #0d8fe3;
  width: 110px;
  height: 110px;
  text-align: center;
  position: relative;
}

.our-advantages-content:not(:last-child) {
  margin-right: 20px;
}

.our-advantages-content img {
  position: absolute;
  top: 0;
  left: 50%;
  right: 0;
  transform: translate(-50%, -50%);
}

.our-advantages-content p {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 0;
}

.form-content {
  position: relative;
  margin-top: -422px;
}

.form-content .form-header {
  position: absolute;
  left: 100%;
  top: 0;
  transform: translateX(-100%);
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
}

.form-button {
  width: 270px;
}
/* =========== glazing-of-balconies ===============*/
#glazing-of-balconies {
  padding-bottom: 103px;
}

.glazing-of-balconies-title, .balcony-finishes-title, 
.our-works, .guarantee, .payment-title, .location_title {
  margin-top: 80px;
  text-align: center;
}

.glazing-of-balconies-title h2, .balcony-finishes-title h2,
.our-works h2, .guarantee h2, .payment-title h2, .location_title h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 0;
}

.glazing-of-balconies-title img,
.balcony-finishes-title img {
  margin-top: 23px;
}

.glazing-of-balconies-navigation,
.balcony-finishes-navigation {
  margin-top: 80px;
}

.glazing-of-balconies-navigation li,
.glazing-of-balconies-navigation ul, 
.balcony-finishes-navigation li,
.balcony-finishes-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navigation {
  display: flex;
  justify-content: space-around;
}


.navigation li {
  display: flex !important;
  flex-direction: column;
  align-items: center;
}

.navigation a {
  color: #249ae6;
  font-size: 18px;
  font-weight: 600;
  line-height: 26px;
  text-decoration: underline #249ae6;
  max-width: 137px;
  text-align: center;
  outline: none;
}

#filters li.active > a {
  color: #464646;
  text-decoration: none;
}

.tabs {
  display: flex;
}

.tabs-panel  {
  display: none;
}

.tabs-panel.active, .tabs__content.active {
  display: flex;
  margin-top: 39px;
}

.glazing-of-balconies-content {
  width: 100%;
}

.glazing {
  position: relative;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background-image: linear-gradient(to bottom, rgba(13, 143, 227, 0.2), #ffffff);
  padding: 37px 60px;
}

.glazing img {
  width: 100%;
  height: 300px;
}

.glazing2 {
  background-image: linear-gradient(to bottom, rgba(255, 185, 3, 0.2), #ffffff);
}

.glazing:before, .tabs_content.active::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
  border-radius: 5px 0 0;
  -webkit-border-radius: 5px 0 0;
  -moz-border-radius: 5px 0 0;
  -ms-border-radius: 5px 0 0;
  -o-border-radius: 5px 0 0;
  background-color: #0d8fe3;
}

.glazing::after, .tabs_content.active::after {
  content: '';
  position: absolute;
  left: 50%;
  top: 5px;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  border: 7px solid transparent;
  border-top: 7px solid #0d8fe3;
}

.glazing2:before {
  border-radius: 0 5px 0 0;
  -webkit-border-radius: 0 5px 0 0;
  -moz-border-radius: 0 5px 0 0;
  -ms-border-radius: 0 5px 0 0;
  -o-border-radius: 0 5px 0 0;
  background-color: #ffb903;
}

.glazing2:after {
  border-top: 7px solid #ffb903;
}

.glazing h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #0d8fe3;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 30px 0;
  text-align: center;
}

.glazing2 h3 {
  color: #ffb903;
}

.checked-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
  background-color: #e8e8e8;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.checked-img img {
  width: auto !important;
  height: auto !important;
}

.checked {
  margin-top: 30px;
}

.checked p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 0 17px;
}

.checked-content {
  display: flex;
  align-items: center;
}

.checked-content:not(:first-child) {
  margin-top: 5px;
}

.valeu2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 52px;
}

.value h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000000;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.value p {
  color: #000000;
  font-size: 14px;
  font-weight: 400;
  margin: 12px 0 0 0;
}

.slick-dots {
  bottom: -71px;
  width: auto;
  transform: rotateZ(-90deg);
  -webkit-transform: rotateZ(-90deg);
  -moz-transform: rotateZ(-90deg);
  -ms-transform: rotateZ(-90deg);
  -o-transform: rotateZ(-90deg);
}

.slick-dots li button:before {
  font-size: 10px;
}
/*============= balcony-finishes ================*/
#balcony-finishes {
  background-color: #f7f7f7;
  padding-bottom: 521px;
}

.balcony-finishes-title {
  padding-top: 80px;
  margin: 0;
}

.navigation2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tabs_content.active {
  position: relative;
  background-image: -moz-linear-gradient( -90deg, rgb(0,0,0, 0.05) 0%, rgba(0,0,0,0) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(0,0,0, 0.05) 0%, rgba(0,0,0,0) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(0,0,0, 0.05) 0%, rgba(0,0,0,0) 100%);
}

.tabs_content {
  position: relative;
  padding: 40px 35px !important;
}

.tabs_content.active:before {
  height: 10px;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border: none;
}

.tabs_content.active::after {
  border: 17px solid transparent;
  border-top: 17px solid #0d8fe3;
}

.tabs_content.active a, .tabs_content a {
  color: #0085db;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
}

.tabs_content a {
  color: #000000;
  border-bottom: 1px dotted #000000;
}

.gradient {
  position: absolute;
  width: 2px;
  height: 100%;
  top: 0;
  left: -2px;
  background-image: -moz-linear-gradient( -90deg, rgb(0,0,0, .05) 0%, rgba(0,0,0,0) 100%);
  background-image: -webkit-linear-gradient( -90deg, rgb(0,0,0, .05) 0%, rgba(0,0,0,0) 100%);
  background-image: -ms-linear-gradient( -90deg, rgb(0,0,0, .05) 0%, rgba(0,0,0,0) 100%);
}

.balcony-content {
  display: flex;
}

.balcony-img2 {
  padding-top: 77.5px;
  padding-bottom: 113.5px;
}

.balcony-content-mini {
  display: flex;
  flex-wrap: wrap;
  margin-left: 50px;
  margin-top: 31px;
  max-width: 444px;
}

.balcony-content2 {
  margin-right: 53px;
  text-align: center;
}

.balcony-content2:nth-child(n+4) {
  margin-top: 70px;
}

.balcony-content2 h6 {
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
  margin-top: 20px;
}

.balcony-content2 h5 {
  
  color: #0d8fe3;
  font-size: 14px;
  font-weight: 700;
  margin: 0;
  margin-top: 28px;
}

.balcony-title {
  margin-top: 12px !important;
}

.balcony-content2 p {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  margin: 0;
  margin-top: 5px;
}

.form-content2 {
  top: -20px;
}

.balcony-content-mini2 {
  max-width: 47%;
  justify-content: space-between;
}

.balcony-content-mini h3, .balcony-content-mini h4 {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  width: 100%;
  margin: 38px 0 0 0;
}

.balcony-background {
  margin-right: 16px;
  margin-top: 30px;
  text-align: center;
}

.balcony-background:nth-child(6), .balcony-background:nth-child(11) {
  margin-right: 0;
}

.background-white {
  width: 60px;
  height: 60px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.background-smoky {
  width: 60px;
  height: 60px;
  background-color: #434b5a;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.background-cream {
  width: 60px;
  height: 60px;
  background-color: #f8f0d3;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.background-citric {
  width: 60px;
  height: 60px;
  background-color: #faf49b;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.background-pink {
  width: 60px;
  height: 60px;
  background-color: #f8b6b6;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.background-light-green {
  width: 60px;
  height: 60px;
  background-color: #d3f8dc;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.background-light-gray{
  width: 60px;
  height: 60px;
  background-color: #e4e4e4;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.background-blue-gray {
  width: 60px;
  height: 60px;
  background-color: #878f9f;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.background-gray-green {
  width: 60px;
  height: 60px;
  background-color: #879f90;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.background-beige {
  width: 60px;
  height: 60px;
  background-color: #ddd7c2;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.balcony-background p {
  color: #000000;
  font-size: 10px;
  font-weight: 400;
  margin: 16px 0 0 0;
}

.balcony-content-mini h4 {
  margin-top: 0;
  color: #0d8fe3;
}

.title-min {
  margin: 0;
  margin-top: 2px;
  color: #000000;
  font-size: 12px;
  font-weight: 400;
}

.balcony-subtitle {
  margin-top: 30px;
  width: 100%;
}

.balcony-wrap {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.outdoor {
  display: flex;
  align-items: center;
  margin-top: 30px;
}

.outdoor:nth-child(3){
  justify-content: center;
}

.outdoor:nth-child(2), .outdoor:nth-child(3) {
  margin-top: 30px;
}

.outdoor h5 {
  color: #000000;
  font-size: 12px;
  font-weight: 400;
  margin: 0 0 0 30px;
}

.content-mini2 h4 {
  margin-top: 34px;
}

.title-min2 {
  position: relative;
  top: 2px;
  margin: 0;
}

.balcony-wrap2 {
  margin-top: 17px;
}

.kind-of-roofs h5 {
  margin-left: 22px;
}

.kind-of-roofs:nth-child(2) {
  margin-top: 22px;
}

.title-min3 {
  position: relative;
  top: 3px;
  margin: 0;
}

.balcony-content-mini3 h4 {
  margin-top: 36px;
}

.balcony-content-mini3 h4:nth-child(5) {
  margin-top: 20px;
}
/*============ our-works =============*/
#our-works {
  padding-bottom: 80px;
}

.home-gallery-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 80px;
}

.home-gallery-wrap img {
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
}

img.mfp-img {
  padding: 0;
  border-radius: 23px;
  -webkit-border-radius: 23px;
  -moz-border-radius: 23px;
  -ms-border-radius: 23px;
  -o-border-radius: 23px;
  width: 450px;
}

.gallery-wrap {
  position: relative;
}

.gallery-wrap:nth-child(1), .gallery-wrap:nth-child(2),
.gallery-wrap:nth-child(3), .gallery-wrap:nth-child(4) {
  margin-bottom: 30px;
}

.zoom {
  position: absolute;
  width: auto !important;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

.zoom:hover {
  opacity: .6;
}

.mfp-close {
  display: none !important;
}
/*============== guarantee ============*/
#guarantee {
  background-image: linear-gradient(to bottom, #0084cc, #2db7f8);
  padding-bottom: 80px;
}

.guarantee {
  margin-top: 0;
  padding-top: 80px;
}
.guarantee h2 {
  color: #ffffff;
}

.guarantee-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  margin-top: 80px;
}

.guarantee-content-min {
  width: 293px;
}

.guarantee-content-min:nth-child(-n+3) {
  margin-bottom: 80px;
}

.guarantee-content-min h3 {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  margin-top: 32px;
  margin-bottom: 0;
}
/*================ our-services ===============*/
.stock {
  background: url(/img/bg.png) no-repeat center center;
  background-size: cover;
  min-height: 626px;
}

.payment-title h2 {
  font-size: calc(24px + 6 * ((100vw - 320px) / (1500 - 320)));
}

.payment-content {
  display: flex;
  justify-content: space-between;
  margin-top: 80px;
  padding-bottom: 80px;
}

.cash, .card2,
.cashless-payments {
  display: flex;
  align-items: center;
}

.cash h4, .card2 h4,
.cashless-payments h4 {
  margin: 0;
  margin-left: 32px;
}

.stock-title {
  padding-top: 80px;
}

.stock-title h2 {
  color: #008cce;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 48px;
  font-weight: 700;
  margin: 0;
}

.stock-subtitle {
  margin-top: 80px;
}

.stock-subtitle h3 {
  color: #000000;
  font-size: 24px;
  font-weight: 400;
  line-height: 40px;
  margin: 0;
}

.clock-down {
  max-width: 260px;
  min-height: 124px;
  padding: 22px 23px;
  border-radius: 10px;
  border: 1px solid #d1d1d1;
  background-color: #ffff;
  margin-top: 80px;
}

.clock-down h5 {
  margin: 0 0 20px 0;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  text-align: center;
}

.stock-content {
  top: -44px;
}

.countdown {
  display: flex;
  justify-content: space-between;
}

.countdown-number {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 40px;
  height: 53px;
}

.countdown-number::before {
  content: '';
  position: absolute;
  width: 40px;
  height: 27px;
  border-radius: 10px 10px 0 0;
  background-image: linear-gradient(to bottom, #393939 0%, #141414 100%);
}

.countdown-number::after {
  content: '';
  position: absolute;
  bottom: 0;
  width: 40px;
  height: 27px;
  border-radius: 0 0 10px 10px;
  background-image: linear-gradient(to bottom, #393939 0%, #141414 100%);
}

.countdown-time,
.countdown-text {
  z-index: 1;
}

.countdown-time {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #efefef;
  font-size: 28px;
  font-weight: 600;
}

.countdown-text {
  color: #000000;
  font-size: 13px;
  font-weight: 600;
  margin-top: 36px;
}
/* ============= footer ============= */
.location_content {
  margin-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
}

.full-information:not(:first-child) {
  margin-top: 40px;
}

.full-information p {
  margin: 0;
  color: #008cce;
  font-size: 15px;
  font-weight: 400;
}

.full-information h5 {
  margin: 17px 0 0 0;
  color: #000000;
  font-size: 18px;
  font-weight: 600;
  max-width: 435px;
}

.full-information span {
  font-weight: 400;
}

.mail h5 {
  border-bottom: 2px solid #7f7f7f;
  width: 160px;
}

.footer-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  background-color: #00a0eb;
}

.footer-title h2 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  margin: 0;
}

.footer-title h3 {
  color: #ffffff;
  font-size: 30px;
  font-weight: 400;
  border-bottom: 2px solid #a6def8;
  margin: 0 0 0 40px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 115px;
}

.footer-content h5 {
  margin: 0;
  color: #000000;
  font-size: 15px;
  font-weight: 400;
}

.footer_connect h3 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-weight: 700;
  color: #333333;
  font-size: 18px;
  margin: 0;
}

.footer_connect p {
  color: #0090d5;
  font-size: 14px;
  font-weight: 400;
  margin: 11px 0 0 0;
  text-align: end;
  border-bottom: 1px solid #3fabdf;
  width: 117px;
  margin-left: auto !important;
}

.map {
  width: 568px;
  height: 467px;
}
.map iframe{
  height:100%;
  width:100%;
}