@media (min-width:0px) and (max-width:320px) {
  .navigation_title {
    display: none;
 }
 .measurer {
   display: none;
 }
 .navigation_img img {
    width: 100px;
 }
 .phone_content h3 {
   display: none;
 }
 .nav {
    flex-wrap: wrap;
    padding-top: 12px;
    padding-bottom: 12px;
 }
 .phone img {
    display: none;
 }
 .clock img {
   display: none;
 }
 .phone {
    justify-content: flex-end;
    width: 100%;
  }
 .phone_content a {
    font-size: 12px;
    margin-top: 7px;
 }
 .form-header {
    width: 190px;
 }
 .popup-header h3 {
   font-size: 15px;
 }
 .popup-header h2 {
    font-size: 19px;
 }
 .main {
    background-position: 36%;
    padding-bottom: 55px;
 }
 .form-button {
   width: 190px !important;
 }
 .form-btn {
   font-size: 15px;
   height: 62px;
   width: 100%;
 }
 .form-btn2 {
   padding: 22px 9px;
   width: auto;
   height: auto;
   font-size: 16px;
 }
  .popup, .popup2, .popup3 {
    overflow: scroll;
  }
 .popup-content {
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 190px;
   top: 20%;
}
.popup-content2 {
    margin-bottom: 50px;
}
 .main_content {
    padding-top: 60px;
 }
 .main_content h3 {
    font-size: 20px;
 }
 .main_content h1 {
    font-size: 40px;
    margin-top: 17px;
 }
 .our-advantages {
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 72px;
 }
 .our-advantages-header {
   flex-wrap: wrap;
   justify-content: space-around;
 }
 .our-advantages-content:not(:last-child) {
    margin-right: 0;
 }
 .our-advantages-content-2 {
    margin-top: 39px;
 }
 .form-content .form-header {
    position: relative;
 }
 .form-content {
    margin-top: 60px;
 }
 /*============= glazing-of-balconies =============*/
 #glazing-of-balconies {
  padding-bottom: 50px;
 }
 .glazing-of-balconies-title {
  margin-top: 60px;
 }
 .glazing-of-balconies-navigation {
  margin-top: 60px;
 }
 .navigation {
    justify-content: space-between;
    overflow-x: scroll;
 }
 #filters li:not(:last-child) {
    margin-right: 30px;
 }
 #filters img {
    width: 88px;
    height: auto;
 }
 .navigation a {
  display: flex;
  font-size: 16px;
 }
 .tabs-panel.active {
  flex-direction: column;
  margin-top: 60px;
 }
 .glazing img {
    height: auto;
 }
 .glazing:before {
  border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
 }
 .checked p {
  width: 74%;
 }
 .checked-content:not(:first-child) {
  margin-top: 20px;
 }
 .valeu2 {
  flex-direction: column;
  margin-top: 42px;
 }
 .value {
  text-align: center;
 }
 .value p {
  margin: 10px 0 0 0 !important;
  width: 100% !important;
 }
/*============= balcony-finishes ================*/
 #balcony-finishes {
  padding-bottom: 50px;
 }
 .balcony-finishes-title {
  padding-top: 60px;
 }
 .balcony-finishes-title h2 {
  font-size: 25px;
 }
 .balcony-finishes-navigation {
  margin-top: 60px;
 }
 .navigation2 {
  overflow-x: scroll;
 }
 .tabs_content {
  padding: 30px 18px !important;
 }
 .tabs_content.active a, .tabs_content a {
  font-size: 15px;;
 }
 .balcony-content {
  flex-direction: column;
  margin-top: -20px;
 }
 .balcony-content picture img {
  width: 100%;
 }
 .balcony-img2 {
  padding-top: 18.5px;
  padding-bottom: 30.5px;
 }
 .balcony-content-mini {
  margin-left: 0;
  justify-content: center;
 }
 .balcony-content-mini2 {
  margin-top: 0;
  max-width: inherit;
 }
 .balcony-background, .balcony-background:nth-child(6) {
    margin-right: 17px;
 }
 .balcony-background:nth-child(4), .balcony-background:nth-child(7),
 .balcony-background:nth-child(10) {
   margin-right: 0;
 }
 .balcony-subtitle {
  text-align: center;
 }
 .balcony-content-mini h3 {
  text-align: center;
  margin: 0;
 }
 .balcony-wrap {
  margin-top: 40px;
 }
 .balcony-content-mini3 h4 {
  text-align: center;
 }
 .balcony-content-mini3 h4:nth-child(5) {
  margin-top: 20px;
 }
 .outdoor:nth-child(2),
 .outdoor:nth-child(3) {
  margin-top: 30px;
 }
 .content-mini2 h4 {
  margin-top: 17px;
  text-align: center;
 }
 .title-min2 {
  top: 2px;
  text-align: center;
 }
 .balcony-content2 {
  margin-right: 0;
 }
 .balcony-content2:nth-child(1), .balcony-content2:nth-child(3) {
  margin-right: 20px;
 }
 .balcony-content2:nth-child(n+3) {
  margin-top: 30px;
 }
/*============ our-works =============*/
 .our-works {
  margin-top: 50px;
 }
 .home-gallery-wrap {
  justify-content: center;
  margin-top: 60px;
 }
 .home-gallery-wrap img {
  width: 230px;
 }
 .gallery-wrap:not(:last-child) {
  margin-bottom: 30px;
 }
 img.mfp-img {
  width: 260px;
 }
 /*============== guarantee ============*/
 .guarantee-content-min:nth-child(n+3):not(:last-child) {
    margin-bottom: 80px;
 }
/*================ our-services ===============*/
 .stock {
    background-position: 70%;
 }
 .stock-title h2 {
    text-align: center;
 }
 .stock-subtitle {
    margin-top: 30px;
 }
 .stock-subtitle h3 {
    text-align: center;
 }
 .payment-content {
    flex-direction: column;
 }
 .cash, .card2, .cashless-payments {
    flex-direction: column;
 }
 .cash h4, .card2 h4, .cashless-payments h4 {
   margin-left: 0;
   margin-top: 32px;
 }
 .cash, .card2 {
   margin-bottom: 80px;
 }
/* ============= footer ============= */
 .location_title {
    margin-top: 50px;
 }
 .location_content {
    margin-top: 50px;
    padding-bottom: 65px;
    flex-direction: column-reverse;
 }
 .map {
    width: 100%;
    margin-top: 50px;
 }
 .footer-title {
    height: 105px;
    flex-direction: column;
 }
 .footer-title h2 {
    font-size: 18px;
 }
 .footer-title h3 {
    font-size: 18px;
    margin: 10px 0 0 0px;
 }
 .footer-content h5 {
    font-size: 13px;
 }
 .footer_connect h3 {
    font-size: 16px;
 }
 .footer_connect p {
    font-size: 13px;
    margin: 5px 0 0 0;
    width: 109px;
 }
 .footer_img {
    display: none;
 }
}

@media(min-width:321px) and (max-width:480px) {
  .navigation_title {
    display: none;
 }
 .measurer {
   display: none;
 }
 .navigation_img img {
    width: 100px;
 }
 .phone_content h3 {
   display: none;
 }
 .nav {
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
 }
 .phone img {
    display: none;
 }
 .clock img {
   display: none;
 }
 .phone {
    justify-content: flex-end;
    width: 100%;
  }
 .phone_content a {
    font-size: 13px;
    margin-top: 7px;
 }
 .popup, .popup2 {
   overflow: scroll;
 }
 .form-header {
   width: 190px;
 }
 .main {
   background-position: 31%;
   padding-bottom: 55px;
 }
 .form-button {
   width: 100% !important;
   height: 62px;
   font-size: 18px;
 }
 .form-btn2 {
   width: auto;
   height: auto;
   padding: 20px 19px;
   font-size: 15px;
 }
 .popup-content {
   position: absolute;
   top: 20%;
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
 }
 .name {
   margin-top: 20px;
 }
 .name, .telephone {
   max-width: 100%;
 }
 .form-content .form-header {
   position: relative;
   left: 50%;
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
   width: auto;
   padding: 40px 50px;
 }
 .main_content {
    padding-top: 60px;
 }
 .main_content h3, .main_content h1 {
    text-align: center;
 }
 .main_content h3 {
    font-size: 22px;
 }
 .main_content h1 {
   font-size: 46px;
   margin-top: 17px;
 }
 .our-advantages {
    justify-content: center;
    margin-top: 72px;
 }
 .our-advantages-content:not(:last-child) {
    margin-right: 0;
 }
 .our-advantages-content-2 {
    margin-top: 39px;
 }
 .form-content {
    margin-top: 60px;
 }
 .our-advantages-header {
    width: 74%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
 }
 /*============= glazing-of-balconies =============*/
 .glazing-of-balconies-title, .glazing-of-balconies-navigation {
   margin-top: 50px;
 }
 .navigation {
    justify-content: space-between;
    overflow-x: scroll;
 }
 #filters li:not(:last-child) {
    margin-right: 30px;
 }
 #filters img {
    width: 88px;
    height: auto;
 }
 .navigation a {
  font-size: 16px;
 }
 #glazing-of-balconies {
   padding-bottom: 30px;
 }
 .tabs-panel.active {
   flex-direction: column;
   margin-top: 60px;
 }
 .glazing img {
    height: auto;
 }
 .glazing:before {
   border-radius: 5px 5px 0 0;
   -webkit-border-radius: 5px 5px 0 0;
   -moz-border-radius: 5px 5px 0 0;
   -ms-border-radius: 5px 5px 0 0;
   -o-border-radius: 5px 5px 0 0;
 }
 .checked p {
   width: 73%;
 }
 .valeu2 {
  flex-direction: column;
  margin-top: 28px;
 }
 .value {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  text-align: center;
 }
 .value p {
  width: 100%;
 }
 .popup-btn2 {
  margin-top: 24px;
 }
 /*============= balcony-finishes ================*/
 #balcony-finishes {
  padding-bottom: 50px;
 }
 .navigation2 {
  overflow-x: scroll;
 }
 .balcony-content {
  flex-direction: column;
  margin-top: -20px;
 }
 .balcony-content picture {
  text-align: center;
 }
 .balcony-img2 {
  padding-top: 0;
  padding-bottom: 30.5px;
 }
 .balcony-content-body {
  display: flex;
  justify-content: center;
 }
 .balcony-content-mini {
  margin-left: 0;
  width: 77%;
  justify-content: center;
 }
 .balcony-content-mini2 {
  justify-content: space-evenly;
  width: 287px;
  max-width: inherit;
 }
 .balcony-content-mini h3, .balcony-content-mini h4 {
  text-align: center;
  margin: 0 0 0 0;
 }
 .balcony-content-mini3 h4 {
  margin-top: 40px;
 }
 .balcony-content-mini3 h4:nth-child(5) {
  margin-top: 20px;
 }
 .balcony-wrap {
  margin-top: 40px;
 }
 .outdoor:nth-child(2), .outdoor:nth-child(3) {
  margin-top: 30px;
 }
 .title-min3 {
  top: 3px;
 }
 .content-mini2 h4 {
  margin-top: 20px;
  margin-bottom: 0;
 }
 .title-min2 {
  top: 2px;
  text-align: center;
 }
 .balcony-content2 {
    margin-right: 16px !important;
 }
 .balcony-content2:nth-child(2),
 .balcony-content2:nth-child(4),
 .balcony-content2:nth-child(5) {
  margin-right: 0;
 }
 .balcony-content2:nth-child(4) {
    margin-right: 9px;
 }
 .balcony-content2 p {
    margin-bottom: 30px;
 }
 .balcony-content2:nth-child(n+4) {
    margin-top: 0;
 }
 .balcony-background {
  margin-top: 30px !important;
 }
 .balcony-background:nth-child(4), .balcony-background:nth-child(7), .balcony-background:nth-child(10) {
  margin-right: 0px;
 }
 .balcony-background:nth-child(6) {
  margin-right: 20px;
 }
 .balcony-subtitle {
  text-align: center;
 }
/*============ our-works =============*/
 .our-works {
  margin-top: 40px;
 }
 .home-gallery-wrap {
  justify-content: space-around;
  margin-top: 50px;
 }
 .home-gallery-wrap img {
  width: 140px;
 }
 .gallery-wrap:nth-child(-n+6) {
  margin-bottom: 30px;
 }
 img.mfp-img {
  width: 300px;
 }
 /*============== guarantee ============*/
 .guarantee-content {
    justify-content: center;
 }
 .guarantee-content-min:nth-child(n+3):not(:last-child) {
    margin-bottom: 80px;
 }
/*================ our-services ===============*/
 .stock {
   background-position: 70%;
   padding-bottom: 80px;
 }
 .stock-title h2 {
    text-align: center;
 }
 .payment-content {
    flex-direction: column;
    margin-top: 50px;
 }
 .stock-subtitle {
    margin-top: 40px;
 }
 .stock-subtitle h3 {
    font-size: 20px;
    text-align: center;
 }
 .cash, .card2, .cashless-payments {
    justify-content: center;
 }
 .cash {
    width: 81%;
 }
 .card2 {
    width: 98%;
    margin-top: 80px;
 }
 .cashless-payments {
    margin-top: 80px;
 }
 .clock-down {
    margin-left: auto;
    margin-right: auto;
 }
 .stock-content {
    top: 0px;
 }
/* ============= footer ============= */
 .location_title {
    margin-top: 40px;
 }
 .location_content {
    margin-top: 50px;
    padding-bottom: 60px;
    flex-direction: column-reverse;
 }
 .map {
    width: 100%;
    margin-top: 50px;
 }
 .footer_img {
   display: none;
 }
 .footer-title {
    flex-direction: column;
    height: 130px;
 }
 .footer-title h2 {
    font-size: 20px;
 }
 .footer-title h3 {
    font-size: 18px;
    margin: 10px 0 0 0px;
 }
 .footer-content h5 {
    font-size: 13px;
 }
 .footer_connect h3 {
    font-size: 17px;
 }
 .footer_connect p {
    margin: 5px 0 0 0;
 }
}


@media(min-width:481px) and (max-width:768px) {
   /* =============== main ============= */
 .main {
   background-position: 24%;
   padding-bottom: 50px;
 }
 .main_content {
   padding-top: 90px;
   text-align: center;
 }
 .our-advantages {
   margin-top: 118px;
   justify-content: center;
 }
 .our-advantages-header {
    flex-wrap: wrap;
 }
 .our-advantages-content:not(:last-child) {
    margin-bottom: 60px;
 }
  .navigation_title {
   display: none;
 }
 .measurer, .clock img, .phone img {
   display: none;
 }
 .clock_content h5, .clock_content h4,
 .phone_content a {
   width: 100%;
 }
 .phone_content h3 {
    font-size: 20px;
 }
 .phone_content a {
    margin-top: 10px;
 }
 .popup, .popup2 {
   overflow: scroll;
 }
 .popup-content {
   position: absolute;
   top: 20%;
 }
 .popup-form form {
   align-items: center;
 }
 .form-content {
   position: relative;
   margin-top: 100px;
 }
 .form-content .form-header {
   position: relative;
   max-width: 465px;
   left: 50%;
   transform: translateX(-50%);
   -webkit-transform: translateX(-50%);
   -moz-transform: translateX(-50%);
   -ms-transform: translateX(-50%);
   -o-transform: translateX(-50%);
 }
 .name-2, .telephone-2 {
   min-width: 298px;
 }
 .form-button {
   width: 330px ;
 }
 .popup-btn2 {
   width: 270px;
 }
/*============= glazing-of-balconies =============*/
 #glazing-of-balconies {
   padding-bottom: 30px;
 }
 .glazing-of-balconies-title {
   margin-top: 50px;
 }
 .navigation a {
   font-size: 15px;
 }
 .navigation img {
   width: 90%;
 }
 .tabs-panel.active {
   flex-direction: column;
   margin-top: 60px;
 }
 .glazing:before {
   border-radius: 5px 5px 0 0;
   -webkit-border-radius: 5px 5px 0 0;
   -moz-border-radius: 5px 5px 0 0;
   -ms-border-radius: 5px 5px 0 0;
   -o-border-radius: 5px 5px 0 0;
 }
 .glazing picture {
    display: flex;
    justify-content: center;
} 
 .glazing img {
    height: auto;
 }
 .form-btn2 {
   padding: 22px 16px;
   width: 100%;
   height: auto;
   font-size: 17px;
 }
/*============= balcony-finishes ================*/
 #balcony-finishes {
  padding-bottom: 77px;
 }
 .balcony-finishes-content {
  width: 100%;
 }
 .balcony-content {
  flex-direction: column;
 }
 .balcony-content picture {
  text-align: center;
 }
 .navigation2 {
  overflow-y: scroll;
 }
 .tabs_content {
  padding: 33px 11px !important;
 }
 .tabs_content.active a, .tabs_content a {
  font-size: 15px;
 }
 .balcony-content-body {
  display: flex;
  justify-content: center;
 }
 .balcony-content-mini {
  justify-content: center;
  margin-left: 0;
 }
 .balcony-content-mini2 {
  justify-content: space-evenly;
  width: 57% !important;
  max-width: inherit;
 }
 .content-mini2 {
  justify-content: center;
 }
 .balcony-content2:nth-child(3),
 .balcony-content2:nth-child(5) {
  margin-right: 0;
 }
 .balcony-content-mini h3, .balcony-content-mini h4 {
  margin: 0;
  text-align: center;
 }
 .content-mini2 h3 {
  text-align: center;
 }
 .content-mini2 h4 {
  margin-top: 40px !important;
  text-align: center;
 }
 .title-min {
    text-align: center;
 }
 .balcony-content-mini3 {
    text-align: center;
    justify-content: center;
 }
 .balcony-img2 {
    padding-top: 20.5px;
    padding-bottom: 40.5px;
 }
 .balcony-content-mini3 h4 {
    margin-top: 36px !important;
 }
 .balcony-content-mini3 h4:nth-child(5) {
    margin-top: 20px !important;
 }
 .balcony-background:nth-child(6), .balcony-background:nth-child(11) {
    margin-right: 16px;
 }
 /*============ our-works =============*/
 .home-gallery-wrap {
  justify-content: space-evenly;
 }
 .gallery-wrap:nth-child(-n+7) {
  margin-bottom: 30px;
 }
 img.mfp-img {
  width: 275px;
 }
/*============== guarantee ============*/
 .guarantee-content-min {
    width: 230px;
 }
/*================ our-services ===============*/
 .stock {
    background-position: 76%;
    padding-bottom: 40px;
 }
 .stock-subtitle {
    margin-top: 40px;
 }
 .payment-content {
    flex-wrap: wrap;
 }
 .cashless-payments {
   margin-top: 70px;
 }
 .clock-down {
    margin-left: auto;
    margin-right: auto;
 }
 /* ============== footer =============== */
 .location_content {
    flex-direction: column-reverse;
    align-items: center;
    margin-top: 50px;
 }
 .full-information-wrap {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 60px;
 }
 .full-information {
    text-align: center;
 }
 .mail h5 {
    margin-left: auto;
    margin-right: auto;
 }
 .footer-title {
    flex-direction: column;
 }
 .footer-title h2 {
    font-size: 26px;
 }
 .footer-title h3 {
    font-size: 26px;
    margin: 10px 0 0 0;
 }
}


@media(min-width:568px) and (max-width:665px) {
   .clock img, .phone img {
      display: none;
   }
}

@media(min-width:763px) and (max-width:769px) {
 /*================ our-services ===============*/
 .payment-content {
    flex-wrap: wrap;
    width: 98%;
 }
 /* .cashless-payments {
    margin-top: 0;
 } */
}

@media(min-width:769px) and (max-width:992px) {
 .navigation_title {
   display: none;
 }
 .form-content .form-header {
   position: relative;
   max-width: 270px;
 }
 .main_content {
  padding-top: 63px;
 }
 /*============= glazing-of-balconies =============*/
 .tabs-panel.active {
   flex-direction: column;
 }
 .glazing:before {
   border-radius: 5px 5px 0 0;
   -webkit-border-radius: 5px 5px 0 0;
   -moz-border-radius: 5px 5px 0 0;
   -ms-border-radius: 5px 5px 0 0;
   -o-border-radius: 5px 5px 0 0;
 }
 .glazing picture {
    display: flex;
    justify-content: center;
 }
 .glazing img {
    width: auto;
 }
 .checked-content {
    justify-content: center;
 }
 .popup, .popup2, .popup3 {
   overflow: scroll;
 }
 .popup-content {
   position: absolute;
   top: 20%;
 }
  .popup-content2 {
    margin-bottom: 50px;
 }
/*============= balcony-finishes ================*/
 #balcony-finishes {
    padding-bottom: 100px;
 }
 .navigation2 {
    overflow: scroll;
 }
 .form-content2 {
    display: none;
 }
 .balcony-content2 {
    margin-right: 34px;
 }
 .balcony-content-mini {
    max-width: 439px !important;
 }
/*============ our-works =============*/
 .home-gallery-wrap {
  justify-content: space-evenly;
 }
 .gallery-wrap:nth-child(-n+6) {
  margin-bottom: 30px;
 }
 img.mfp-img {
  width: 330px;
 }
 /*============== guarantee ============*/
 .guarantee-content-min {
    width: 250px;
 }
/*================ our-services ===============*/
 .stock {
    padding-bottom: 185px;
 }
 .stock-content {
    display: block;
    top: 105px;
 }
 .stock-subtitle {
    margin-top: 50px;
 }
 /* ============= footer ========= */
 .footer-title {
    flex-direction: column;
 }
}

@media(min-width:769px) and (max-width:910px) {
 .main {
  padding-bottom: 112px;
  background-position: 10%;
 }
 .main_content {
  text-align: center;
 }
 .our-advantages-header {
  flex-wrap: wrap;
  width: 57%;
 }
 .garbage {
  margin-top: 38px;
 }
 .form-content {
  margin-top: -340px;
 }
 /*================ our-services ===============*/
 .payment-content {
    flex-wrap: wrap;
 }
}

@media(min-width:770px) and (max-width:810px) {
 /*================ our-services ===============*/
 .payment-content {
    flex-wrap: wrap;
 }
}

@media(min-width:769px) and (max-width:778px) {
 .our-advantages-header {
   flex-wrap: wrap;
   width: 52%;
 }
 .our-advantages-content-2 {
   margin-top: 38px;
 }
}

@media(min-width:993px) and (max-width:1200px) {
  #balcony-finishes {
    padding-bottom: 768px;
 }
  .navigation_title {
    margin-left: 0px;
 }
 .navigation2 {
    overflow-x: scroll;
 }
 .balcony-content-mini {
    max-width: 305px;
    height: 412px;
 }
 .balcony-content2:nth-child(n+3) {
    margin-top: 70px;
 }
.balcony-background, .balcony-background:nth-child(6), .balcony-background:nth-child(11) {
    margin-right: 17px;
 }
 .form-button {
    width: 230px;
 }
}

@media(min-width:770px) and (max-width:1070px) {
   .location_content {
    flex-direction: column-reverse;
    align-items: center;
 }
 .full-information-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 .full-information {
    flex: 0 0 253px;
    margin-top: 0 !important;
    margin-bottom: 50px;
 }
 .full-information h5 {
    max-width: 278px;
 }
}

@media(min-width:993px) and (max-width:2560px) {
 .main {
   min-height: 638px;
 }
}
